<configuration scan="true" scanPeriod="10 seconds">

  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/furms-service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/furms-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>90</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
    
    <encoder>
      <pattern>%date [%10.10thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="ROLLING" />
  </root>
  
  <logger name="io.imunity.furms" level="INFO" />

  <logger name="org.springframework.security" level="INFO" />
  <logger name="org.springframework.security.oauth2" level="INFO" />
  <logger name="org.springframework.web.client.RestTemplate" level="INFO" />
  <logger name="org.springframework.context.support" level="WARN" />
  
</configuration>